.todo-list {
  &:focus {
    outline: none;
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    margin-top: 11px;
    display: flex;
    width: 80%;
  }
  &__right {
    width: 100px;
    display: flex;
    justify-content: space-around;
  }
  &__checkbox {
    margin-right: 10px;
  }
  &__text-wrapper {
    overflow: hidden;
  }
  &__text {
    vertical-align: middle;
  }
}

//todo-list item
.mat-list-base .mat-list-item {
  height: 65px;
}

.tab-group {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 740px) {
  .todo-list {
    &__left {
      width: 60%;
    }
  }
}
